
<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
     <a title="Redirection: Acceuil" href="/acceuil/" class="flex items-center ps-2.5 mb-5">
        <img src="../img/logo.png" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">NaviBusTracker</span>
     </a>
     <ul class="space-y-2 font-medium">
        <li>
           <a title="Redirection: Acceuil" href="/acceuil/" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m2.5 7.5 7.5 -5.833 7.5 5.833v9.167a1.667 1.667 0 0 1 -1.667 1.667H4.167a1.667 1.667 0 0 1 -1.667 -1.667z"/><path points="9 22 9 12 15 12 15 22" d="M7.5 18.333L7.5 10L12.5 10L12.5 18.333"/></svg>
              <span class="ms-3">Acceuil</span>
           </a>
        </li>
        <li>
           <a title="Redirection: Tracker" href="/tracker/" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <svg fill="#000000" width="20px" height="20px" viewBox="0 0 36 36" version="1.1"  preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>radar-solid</title>
                  <path d="M32,18c0,7.7-6.2,14-14,14S4,25.8,4,18c0-7.4,5.7-13.5,13.1-14v3.7c-5.7,0.5-9.8,5.5-9.3,11.2s5.5,9.8,11.2,9.3
                  c5.3-0.5,9.3-4.9,9.3-10.2h-2c0,4.6-3.7,8.3-8.3,8.3S9.7,22.6,9.7,18c0-4.2,3.2-7.8,7.3-8.2v4.4c-2.1,0.6-3.4,2.7-2.9,4.9
                  c0.6,2.1,2.7,3.4,4.9,2.9c2.1-0.6,3.4-2.7,2.9-4.9c-0.4-1.4-1.5-2.5-2.9-2.9V2c-0.4,0-0.7,0-1.1,0c-8.8,0-16,7.2-16,16
                  c0,8.8,7.2,16,16,16s16-7.2,16-16c0,0,0,0,0,0H32z" class="clr-i-solid clr-i-solid-path-1"></path>
                  <rect x="0" y="0" width="100" height="100" fill-opacity="0"/>
               </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Tracker</span>
            </a>
        </li>
        <li>
            <a title="Redirection: Actualité" href="/actualité/" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <svg fill="#000000" width="20px" height="20px" viewBox="-0.057 0 0.534 0.534" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><path d="M0.075 0.429H0.051A0.045 0.045 0 0 1 0.02 0.395v-0.27A0.018 0.018 0 0 1 0.033 0.112h0.299a0.018 0.018 0 0 1 0.013 0.013v0.043h0.045a0.018 0.018 0 0 1 0.014 0.014v0.203a0.045 0.045 0 0 1 -0.045 0.045zm0 -0.032H0.315L0.312 0.385V0.143H0.05v0.247a0.018 0.018 0 0 0 0.008 0.009h0.016M0.279 0.192H0.083v0.032H0.279zM0.167 0.259H0.083v0.099h0.083zM0.279 0.261H0.198v0.032h0.081zm0 0.068H0.198V0.36h0.081zM0.345 0.199v0.185a0.013 0.013 0 0 0 0.029 0V0.199z"/></svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Actualité</span>
            </a>
        </li>
        <hr class="w-48 h-1 mx-auto my-4 bg-slate-200 border-0 rounded">
        <li>
            <a title="Redirection vers le site de NaviBus" href="https://navibus.netlify.app/" target="_blank" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <svg fill="#000000" width="20px" height="20px" viewBox="0 0 0.6 0.6" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M0.475 0.35v0.125a0.05 0.05 0 0 1 -0.05 0.05H0.125a0.05 0.05 0 0 1 -0.05 -0.05V0.175a0.05 0.05 0 0 1 0.05 -0.05h0.125v0.05H0.125v0.3h0.3v-0.125zm0 -0.19 -0.182 0.182 -0.035 -0.035L0.44 0.125h-0.115V0.075h0.2v0.2h-0.05z"/></svg>
               <span class="flex-1 ms-3 whitespace-nowrap">NaviBus</span>
            </a>
      </li>
     </ul>
  </div>
</aside>
