<div class="md:ml-64 md:translate-x-0 max-md:mb-16 relative">
    <div class="relative">
        <img class="w-full" src="../../img/bus.jpg" alt="Bus image" />
        <div class="absolute inset-0 flex items-center justify-center">
            <h1 class="text-white text-4xl bg-black bg-opacity-50 px-4 py-2 rounded-lg max-md:text-xl">
                Bienvenue sur NaviBus Tracker
            </h1>
        </div>
        <div class="absolute top-3/4 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <a href="tracker" class="w-32 h-32 p-3 bg-black bg-opacity-50 text-white rounded-full flex items-center justify-center font-bold">
                Essayez-Moi
            </a>
        </div>
    </div>
    <footer class="flex justify-center">
        Made with ❤️ by Papillonlut
    </footer>
</div>