<style>
/* Assurez-vous que la carte occupe une taille appropriée */
.map-container {
  height: 400px; /* Vous pouvez ajuster cette hauteur selon vos besoins */
  width: 100%;   /* La carte occupera toute la largeur du conteneur parent */
}

/* Facultatif: Vous pouvez ajouter un style global pour la carte dans styles.css */
#map {
  height: 100%;
  width: 100%;
}
</style>

<div class="p-4 sm:ml-64">
    <h1>Hello world! But I'm "Tracker" component</h1>
    <div id="map" class="map-container"></div>
</div>